a {
    text-decoration: none;
}

div.intro p {
    font-family: georgia;
    font-size: 138.5%;
    margin-top: 1.5em;
    text-align: justify;
}
.pronounce {
    font-style: italic;
}
#hd {
    height: 9em;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid black;
}
#hd h1 {
    font-size: 1100%;
    display: inline;
}
#hd h1 a {
    text-decoration: none;
    color: black;
}
#hd .brace {
    font-family: verdana;
    font-size: 800%;
    margin-bottom: 2em;
}
#hd #graphic {
    position: absolute;
    top: -1em;
    right: 8em;
}
#hd #left-brace {
    float: right;
    text-align: right;
}
#hd #bits {
    font-family: monospace;
    font-size: 170%;
    margin-top: 0.9em;
    float: right;
}
#egg {
    text-decoration: none;
    color: black;
    cursor: text;
}
#hd #right-brace {
    float: right;
}
#buttons {
    padding-top: 3em;
    padding-bottom: 2em;
}
.button {
    text-align: center;
    font-size: 200%;
    color: black;
    margin-left: 1.29em;
}
#first-button {
    margin-left: 0em;
}
.button a.nav {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 0.5em;
    margin: 0em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}
.button a.selected, .button a:focus {
    margin-left: -0.15em;
    margin-right: 0.15em;
    margin-top: -0.15em;
    outline: none;
    -webkit-box-shadow: 0.15em 0.15em 0 #000;
    -moz-box-shadow: 0.15em 0.15em 0 #000;
}
.button a.nav:hover {
    margin-left: -0.15em;
    margin-right: 0.15em;
    margin-top: -0.15em;
    -webkit-box-shadow: 0.15em 0.15em 0 #000;
    -moz-box-shadow: 0.15em 0.15em 0 #000;
}
.button a.nav:active {
    margin-left: 0.1em;
    margin-right: -0.1em;
    margin-top: 0.1em;
    -webkit-box-shadow: -0.1em -0.1em 0 #000;
    -moz-box-shadow: -0.1em -0.1em 0 #000;
}
ul li {
    list-style-type: disc;
}
em {
    font-style: italic;
}
h2 {
    font-size: 138.5%;
    font-family: verdana;
    font-weight: bold;
    font-style: normal;
    padding-top: 1em;
}
h3 {
    font-family: verdana;
    font-weight: bold;
    font-style: normal;
}
div.info h3 {
    font-size: 128.5%;
    padding-top: 1.5em;
}
div.col {
    margin-left: 3%;
    margin-bottom: 1.5em;
    width: 46.75%;
    display: inline;
}
div#col1 {
    float: left;
}
div#col1 p {
    margin-top: 0.5em;
}
div#col2 {
    float: right;
}
.clear {
    clear: both;
}
.info p {
    margin-top: 1em;
    font-family: georgia;
    font-size: 138.5%;
}
div#grammar {
    width: 95%;
    margin-left: 5%;
}
div.tb {
    margin: 2em;
}
tr.section td {
    padding-top: 1em;
}
td {
    font-size: 138.5%;
}
td.t {
    font-size: 123.1%;
    font-family: monospace;
    padding-right: 2em;
}
td.fix {
    font-size: 123.1%;
    font-family: monospace;
    padding-right: 0.5em;
}
td.op {
    text-align: right;
}
td.ex {
    width: 19em;
}
#ft {
    border-top: 3px solid black;
    margin-top: 2em;
}
a.ro {
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    height: 70px;
}
a.ro:hover {
    background-position: 0 -70px;
}
a.ro span {
    display: none;
}
a#cc {
    background-image: url(../images/cc.png)
}
a#logo {
    background-image: url(../images/10gen.png)
}
ol li {
    font-size: 123.1%;
    list-style-type: decimal;
    margin-left: 2em;
    margin-top: 1em;
    font-style: italic;
}
div.intro li p {
    margin-top: 0.5em;
    font-size: 100%;
    font-style: normal;
}
#ft a {
    color: black;
}
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid black;
    background-color: #FFF;
}
#tooltip h3, #tooltip div {
    margin: 0;
}
#tooltip h3{
    background-color: #000;
    color: #FFF;
	padding: 2px;
}
#tooltip div.body {
   padding:5px;
}
.tt:hover {
    cursor: default;
}
.tt:after {
    content: url(../images/info.png);
}
table#examples {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
table#examples td {
    padding-left: 1em;
    padding-top: 1em;
}
.highlight {
    font-weight: bold;
}
#bsonspecis {
    padding-top: 1em;
}
